.tableContainer{
    /* border: 1px solid red ; */
    /* overflow: scroll; */
    /* overflow-y: scroll; */
    margin: 15px;
    
}
table, th, td {
    border: 1px solid;
  }
table{
    border-collapse: collapse;
    width: 100%;
}

th:nth-child(1),
td:nth-child(1),
th:nth-child(2),
td:nth-child(2) 
th:nth-child(3),
td:nth-child(3) 
{
  width: 20%;
}
th:nth-child(3),
td:nth-child(3) 
{
  width: 28%;
}
th, td{
    padding: 5px;
}
tr:hover {background-color: coral;}
/* tr:nth-child(even) {background-color: #fcfafa;} */
@media print{
    .formContainer{
        display: none;
    }
    @page {
        size: auto;
        margin: 0;
      }
      table {
        border-collapse: collapse;
        border: none;
      }
      .print_button{
        display: none;
      }
}